name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Altere para 'master' se for o nome do seu branch principal

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ # O diretório raiz do seu projeto é o que deve ser publicado
          cname: # Opcional: Adicione seu domínio personalizado aqui (ex: sherlockbia.com)
